* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

header {
  margin: 15px;
  padding: 15px;
  color: white;
  background-color: black;
}

body {
  margin: 15px;
  padding: 15px;
  color: purple;
}

#container {
  margin: 15px;
  padding: 10px;
}
