* {
  margin: 15px;
  /* padding: 15px; */
  background-color: rgb(199, 181, 157);
}

body {
  color: black;
}

a {
  color: darkblue;
  text-decoration: none;
}

#header {
  font-size: larger;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
}

#container {
  margin: 15px;
  padding: 10px;
}
