* {
  margin: 15px;
  /* padding: 15px; */
  background-color: antiquewhite;
}

#header {
  font-size: larger;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
}

body {
  /* margin: 15px; */
  /* padding: 15px; */
  color: purple;
}

#container {
  margin: 15px;
  padding: 10px;
}
