/* What day is it, CSS File */
/* Edwyn Saunders edwym.saunders@outlook.com */
/* 12th Ovtober 2020 */

body {
    background-image: url("../images/design_2.jpg");
    background-size:  cover;
    /* background-position: center; */
}

.centreText {
    text-align: center;
}