/* What day is it, CSS File */
/* Edwyn Saunders edwym.saunders@outlook.com */
/* 12th Ovtober 2020 */

body {
    background-image: url("../images/design_2.jpg");
    background-size:  cover;
    /* background-position: center; */
}

.centreText {
    text-align: center;
}

.buttonCustom {
    width: 75px !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  .myDirectionButtons {
      text-align: center;
  }
@keyframes swoosh-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0.1;
        transform: translateY(0.8em);
    }
    
}

@keyframes swoosh-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0.1;
        transform: translateY(-0.8em);
    }
    
}

.swoosh-up {
    animation: swoosh-up 100ms ;
}

.swoosh-up-reverse {
    animation: swoosh-up 100ms  reverse;
}

.swoosh-down {
    animation: swoosh-down 100ms ;
}

.swoosh-down-reverse {
    animation: swoosh-down 100ms  reverse;
}